################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/7-1_Fina.fec5411d/Debug
/Debug
